:root {
    --dark-text: #313131;
    --primary-color: #325c8e;
    --primary-darkened: #294261;
    --highlighted-color: #0872b4;
    --grey: #acacac;
    --bg-img-ratio: 0; /* Calculated with values from JS script.*/
    /* calc(img height / img width * 100vw) */
}

body {
    height: 100%;
    margin: 0;
    color: var(--dark-text);
    font-family: 'Montserrat', sans-serif;
}

/* Colors */
.dark {
    color: var(--dark-text);
}

.grey {
    color: var(--grey);
}

.light {
    color: white;
}

/* Navbar */

.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #d1d1d1;
}

.nav-cont {
    display: flex;
    align-items: baseline;
    margin: 0 0.75rem;
    gap: 1.5rem;
}

.nav-item {
    color: var(--dark-text);
    font-weight: 500;
    text-decoration: none;
    margin: 1.5em 0;
}

#page-title {
    font-size: 1.1rem;
    margin-right: auto;
    font-weight: 600;
    letter-spacing: -0.08em;
}

#call-to-action {
    font-weight: 800;
    text-decoration: none;
}

.nav-item:last-of-type {
    margin-right: 1rem;
}

/* Nav menu (Collapsible, Phone Only) */

#navmenu {
    position: fixed;
    z-index: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: white;
    transition: 0.5s;
}

.navmenu-list {
    list-style: none;
    padding-top: 75px;
    padding-left: 0;
    margin: 0 10%;
}

.navmenu-list li {
    padding: 1em 0;
    border-bottom: 1px solid #e6e6e6;
}

.navmenu-list li:last-child {
    border-bottom: 0;
}

/* Main Content */

.content {
    display: flex;
    flex-flow: column nowrap;
    padding-top: 75px;
}

.bg {
    display: flex;
    flex-flow: column;
    width: 100%; /* Strange issue perhaps related to rendering of
                    sub-divs. Div has decimel pixel widths, leaving a
                    ~1 pixel white gap on the right based on vw.
                    Adding extra doesn't work (flexbox?) */
    height: var(--bg-img-ratio);
    background-image: url('../img/julianprague.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-space {
    flex: 1.75;
}

.main-title {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    flex: 1.25;
    text-align: center;
    color: white;
    margin: 0 10% 1rem 10%;
}

.bio {
    margin: 0 5%;
}

.experience {
    text-align: center;
}

/* Text Styling & Spacing */

.title {
    margin: 0.5rem 0;
}

.textblock {
    margin: 2rem 0;
    line-height: 1.5em;
}

.supertitle {
    font-size: 0.75rem;
    margin: 2em 0 0.5em 0;
}

.subscript {
    font-size: 0.85rem;
    margin: 0 0 0.5em 0;
}

@media (max-width: 480px) {
    .main-title .title {
        text-shadow: 1px 1px 1px #313131;
    }
}

/* Button & Icons */

.button {
    display: block;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0.6em 1em;
    border-radius: 5px;
    margin: 2rem 0;
}

.button:hover {
    background-color: var(--primary-darkened);
}

.inline-icon {
    vertical-align: center;
    margin-right: 0.5em;
}

.social-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2em;
    margin: 2rem 0 6rem 0;
}

.social-links a i {
    color: var(--grey);
    font-size: 2em;
}

#collapsible-icon {
    vertical-align: text-bottom;
    margin: 0 0.75rem 0 0.25em;
}
